rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /fruits/{fruits} {
      allow read, write: if true;
    }
    match /vegetables/{vegetables} {
      allow read, write: if true; 
    }
  }
}
